<div class="row">
    <div class="card col p-3 m-3">

      <div class="ui statistic">
        <div class="label" >
          CONFIRMED
        </div>
        <div class="value">
          {{tot_confirmed}}
        </div>
      </div>

    </div>

    <div class="card col p-3 m-3">

      <div class="ui statistic">
        <div class="label">
          RECOVERED
        </div>
        <div class="value">
          {{tot_recovered}}
        </div>
      </div>

    </div>


    <div class="card col p-3 m-3">

      <div class="ui statistic">
        <div class="label">
          ACTIVE
        </div>
        <div class="value">
          {{tot_active}}
        </div>
      </div>

    </div>



    <div class="card col p-3 m-3">

      <div class="ui statistic">
        <div class="label">
          DEATHS
        </div>
        <div class="value">
          {{tot_deaths}}
        </div>
      </div>

    </div>


   


    
  </div>